node_modules/
dist/
dist-ssr/
.DS_Store
*.local
.env
.env.local
.env.*.local
.vite/
*.tsbuildinfo

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
database-debug.log
storage-debug.log
ui-debug.log
*.log

